* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

.header {
	width: 100%;
	height: auto;
	background-color: #a7e0ee;
	padding-top: 20px;
}

.navbar {
	margin-top: 20px;
	height: 40px;
	background: #a7e0ee;
}

.headerimg {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: black;
}

.navbar ul {
	margin: 0;
	padding: 0;
}

.navbar ul li {
	list-style: none;
}

/* want to have this moved to right but not become vertical when browser resolution smaller and it becomes vertical */
.navbar ul li a {
	text-decoration: none;
	float: left;
	display: block; /* can add padding because of display block for gap */
	padding: 10px 30px; /* adds gap */
	color: #000000;
	top: 0;
	left: 0;
	right: 0;
}

.navbar ul li a:hover {
	color: #ffffff
}

.headerbreak {
	width: 100%;
	height: 0;
	border-bottom: 2px solid #a7e0ee;
}

.navbold {
	font-weight: bold;
}

/* needs FIXING ********************************************/
.selfimg {
	background-color: #a7e0ee;
}

.selfimg img {
	float: right;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 40px;
	clear: right;
}

/* scrolling down the blog posts */
.blog {
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 40px;
	overflow: scroll;
	clear: left;
}

.blog ol {
	list-style: none;
}

/* has footer stay in place at the bottom  NEEDS FIXING no different scales */
.footer {
	background-color: #a7e0ee;
	width: 100%;
	height: 50px;
	position: static;
	margin-top: 20px;
	left: .15rem;
	right: .15rem;
	bottom: 0rem;
	text-align: center;
	padding: 1rem;
	border-radius: 5px;
}

.selfimg2 img {
	width: 200px;
	height: 200px;
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 40px;
	z-index: 9999;	
}
