* {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.nav {
	background-color: white;
	margin: 0;
	padding: 0;
	top: 0;
	border-color: #949798;
	border-width: 60%;
	border-radius: 0 0 5px 5px;
}

.wrap {
	min-width: 750px;
	max-width: 750px;
	width: 80%;
	margin: auto;
	background-color: #949798;
	overflow: hidden; /*look up this vs footer { clear }*/
}

.nav ul li {
	display: inline;
	padding-right: 5px;
	margin-top: 0;
	padding-top: 0;
}

.nav ul li a {
	text-decoration: none;
	font-weight: bold;
}

.nav ul li a:hover {
	color: #a7e0ee;
	font-weight: bold;
}

.content, aside {
	height: 600px;
}

.content {
	min-width: 340px;
	background: #eeac7e;
	float: left;
	width: 80%;
	margin: auto;
}

aside {
	background: #6be7bf;
	float: left;
	width: 20%;
	text-align: center;
}

aside ul {
	padding-left: 0;
	list-style: none;
	text-align: center;
	text-decoration: none;
}

footer {
	clear: both;
	color: #ffffff;
	width: 100%;
	height: 50px;
}

form li {
	list-style: none;
}

label {
	display: block;
	cursor: pointer;
	padding-bottom: 5px;
}

h1 {
	background: url(../img/logo.png) no-repeat;
	text-indent: -9999px;
	width: 400px;
	height: 150px;
	margin-bottom: 0;
}

article img {
	z-index: 9999;
	width: 200px;
	height: 400px;
	float: left;
	margin-right: 10px;
	margin-left: 25px;
}

.preview {
	min-width: 340px;
	float: right; /*div has default display of block*/
	width: 340px;
	margin-left: 5px;
	margin-top: 1px;
}

.preview h2 {
	font-size: 32px;
	line-height: 40px;
/*	letter-spacing: -1px;*/
}

article h2 {
	margin-top: 0;
	margin-bottom: 0;
}
/*moves article headings to the left beacause default paddings */
.meta {
	padding-left: 0;
	margin-top: 0;
}
.meta a, .post_info {
	color: #276056;
	font-style: italic;
	font-size: 14px;
}

.meta a:after {
	content: '\\';
	padding: 0 5px;
	margin: 0;
}
.meta li {
	display: inline;

}

.meta li:last-child:after {
	content: none;
}

.post_info {
	background: #eeac7e;
	color: #999;
	padding: 2px;
	float: left;
}

.post_info a {
	color: #999;
	text-decoration: none;
}

.post_info a:hover {
	color: black;
}

.body {
	clear:both;
	margin-right: 20px;
}

/* TYPOGRAPHY {
	font-size: 12px;
	text-align: center;
	margin: 50px;
	font-family: sans-serif;
	letter-spacing: -5px;
	color: #666;
	text-transform: lowercase;
	text-shadow: 
		0 1px 0 black,
		5px 6px 1 red;
	font-variant: small-caps;
	<link href GOOGLE API FONTS>	
}*/

/*able to use position: relative --> now can specify values: top, right, bottom, left */

