
body {
	font-family: Arial, sans-serif;
	margin-top: 180px;
	background-color: #e1e1ea;
}

#button {
	height: 40px;
	width: 100px;
	background-color: #e6eeff;
}

.form {
	top: -6px;
	padding: 4px;
}

footer {
	bottom: 0;
	height: 46px;
	border-top: 2px solid red;
	background-color: #222222;
	position: absolute;
	font-size: small;
	line-height: 8px;
	margin-left: -8px;
	width: 100%;

}

footer a {
	text-decoration: none;
	color: #b3b3ff;
	font-weight: bold;
}
footer p {
	color: white;
	float: right;
	position: relative;
	right: 30px;
	font-size: 14px;
}

header {
	top: 0;
	height: 85px;
	background-color: #222222;
	border-bottom: 2px solid red;
	position: absolute;
	font-size: small;
	line-height: 8px;
	margin-left: -8px;
	width: 100%;
}

header img {
	margin-top: 25px;
	margin-left: 10px;
}

header p {
	color: #aaa;
	font-family: "Times New Roman";
	font-size: 20px;
	margin: auto;
	text-align: center;
	position: relative;
	bottom: 20px;
}

h1 {
	color: #222222;
}

h3 {
	color: #e63900;
	position: relative;
	bottom: 40px;
	font-size: 25px;
	font-variant: small-caps;


}

#limit {
	margin-bottom: 15px;
}
